{% extends 'layout.html.twig' %}

{% block title %}
    {{ parent() }} - Accueil
{% endblock %}

{% block content %}
    {% include 'component/_nav.html.twig' %}
    <h1> Page Home </h1>
{% endblock %}