{%extends 'layout.html.twig'%}
<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
{% block content %}
    {% include 'nav.html.twig' %}
    <ul class="list-group list-group-horizontal">
{% for product in products %}
    <li class="list-group-item">{{ products }}</li>
    <li class="list-group-item">{{ products }}</li>
{% endfor %}
    </ul>
    {{dump(products)}}
{% endblock %}
</body>
</html>